<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-meeting-heading" data-cy="MeetingCreateUpdateHeading" jhiTranslate="theForgeApp.meeting.home.createOrEditLabel">
        Создать или отредактировать Встречу
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="theForgeApp.meeting.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="theForgeApp.meeting.title">Название</label>
          <input type="text" class="form-control" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_eventDate" jhiTranslate="theForgeApp.meeting.eventDate">Дата</label>
          <div class="input-group">
            <input
              id="field_eventDate"
              data-cy="eventDate"
              type="text"
              class="form-control"
              name="eventDate"
              ngbDatepicker
              #dp="ngbDatepicker"
              formControlName="eventDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label" for="field_startTime" jhiTranslate="theForgeApp.meeting.startTime">Время начала</label>
            <input type="time" class="form-control" id="field_startTime" data-cy="startTime" formControlName="startTime" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="field_endTime" jhiTranslate="theForgeApp.meeting.endTime">Время окончания</label>
            <input type="time" class="form-control" id="field_endTime" data-cy="endTime" formControlName="endTime" />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location" jhiTranslate="theForgeApp.meeting.location">Место</label>
          <input type="text" class="form-control" id="field_location" data-cy="location" formControlName="location" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="theForgeApp.meeting.description">Описание</label>
          <textarea class="form-control" id="field_description" data-cy="description" rows="3" formControlName="description"></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
