<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (employee(); as employeeRef) {
      <div>
        <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="theForgeApp.employee.detail.title">Employee</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
          </button>

          <button type="button" [routerLink]="['/employee', employeeRef.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Изменить</span>
          </button>

          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ employeeRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.employee.firstName">First Name</span></dt>
          <dd>
            <span>{{ employeeRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.employee.lastName">Last Name</span></dt>
          <dd>
            <span>{{ employeeRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.employee.birthDate">Birth Date</span></dt>
          <dd>
            <span>{{ employeeRef.birthDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.employee.employeeNumber">Employee Number</span></dt>
          <dd>
            <span>{{ employeeRef.employeeNumber }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.employee.hireDate">Hire Date</span></dt>
          <dd>
            <span>{{ employeeRef.hireDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.employee.position">Position</span></dt>
          <dd>
            @if (positionName) {
              <div>
                <a [routerLink]="['/position', employee()?.position?.id, 'view']">
                  {{ positionName }}
                </a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="theForgeApp.employee.team">Team</span></dt>
          <dd>
            @if (teamName) {
              <div>
                <a [routerLink]="['/team', employee()?.team?.id, 'view']">
                  {{ teamName }}
                </a>
              </div>
            }
          </dd>

          <dt><span jhiTranslate="theForgeApp.employee.profession">Profession</span></dt>
          <!--          <dd>-->
          <!--            @for (profession of employeeRef.professions; track $index; let last = $last) {-->
          <!--              <span>-->
          <!--                <a [routerLink]="['/profession', profession.id, 'view']">{{ profession?.professionName }}</a-->
          <!--                >{{ last ? '' : ', ' }}-->
          <!--              </span>-->
          <!--            }-->
          <!--          </dd>-->
        </dl>

        <dd>
          <!-- Таблица с профессиями -->
          <div class="table-responsive table-professions" id="professions">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <!-- Заголовки таблицы с возможностью сортировки -->
                <tr>
                  <!-- Колонка ID с сортировкой -->
                  <th scope="col">
                    <div class="d-flex">
                      <span jhiTranslate="global.field.id">ID</span>
                      <fa-icon class="p-1" icon="sort"></fa-icon>
                    </div>
                  </th>
                  <!-- Колонка названия профессии с сортировкой -->
                  <th scope="col">
                    <div class="d-flex">
                      <span jhiTranslate="theForgeApp.employee.profession">Profession</span>
                      <fa-icon class="p-1" icon="sort"></fa-icon>
                    </div>
                  </th>
                  <!-- Колонка для действий -->
                  <th scope="col"></th>
                </tr>
              </thead>
              <!-- Тело таблицы с бесконечным скроллом -->
              <tbody>
                <!-- Цикл по командам -->
                @for (profession of employeeRef.professions; track $index; let last = $last) {
                  <tr data-cy="professionTable">
                    <!-- Ячейка с ID и ссылкой на просмотр -->
                    <td>
                      <a [routerLink]="['/profession', profession.id, 'view']">{{ profession?.professionName }}</a
                      >{{ last ? '' : ', ' }}
                    </td>
                    <!-- Ячейка с названием профессии -->
                    <td>{{ profession?.professionName }}</td>
                    <!-- Ячейка с кнопками действий -->
                    <td class="text-end">
                      <div class="btn-group">
                        <!-- Кнопка удаления -->
                        <button
                          type="submit"
                          (click)="deleteProfessionFromEmployee(profession)"
                          class="btn btn-danger btn-sm"
                          data-cy="professionDeleteButton"
                        >
                          <fa-icon icon="times"></fa-icon>
                          <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </dd>
      </div>
    }
  </div>
</div>
