<div>
  <h2 id="page-heading" data-cy="SafetyInstructionHeading">
    <span jhiTranslate="theForgeApp.safetyInstruction.home.title">Safety Instructions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="theForgeApp.safetyInstruction.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-safety-instruction"
        [routerLink]="['/safety-instruction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="theForgeApp.safetyInstruction.home.createLabel">Создать новый Safety Instruction</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (safetyInstructions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="theForgeApp.safetyInstruction.home.notFound">Safety Instructions не найдено</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="instructionName">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.safetyInstruction.instructionName">Instruction Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="introductionDate">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.safetyInstruction.introductionDate">Introduction Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profession.id">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.safetyInstruction.profession">Profession</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="position.id">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.safetyInstruction.position">Position</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col">
              <span>PDF-файл</span>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (safetyInstruction of safetyInstructions(); track trackId(safetyInstruction)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/safety-instruction', safetyInstruction.id, 'view']">{{ safetyInstruction.id }}</a>
              </td>
              <td>{{ safetyInstruction.instructionName }}</td>
              <td>{{ safetyInstruction.introductionDate | formatMediumDate }}</td>
              <td>
                @if (safetyInstruction.profession) {
                  <div>
                    <a [routerLink]="['/profession', safetyInstruction.profession.id, 'view']">{{
                      safetyInstruction.profession.professionName
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (safetyInstruction.position) {
                  <div>
                    <a [routerLink]="['/position', safetyInstruction.position.id, 'view']">{{ safetyInstruction.position.positionName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (safetyInstruction.pdfFileName) {
                  <span class="badge bg-success"> <fa-icon icon="file-pdf"></fa-icon> Есть </span>
                } @else {
                  <span class="badge bg-secondary"> <fa-icon icon="file-alt"></fa-icon> Нет </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/safety-instruction', safetyInstruction.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
                  </a>

                  <a
                    [routerLink]="['/safety-instruction', safetyInstruction.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
                  </a>

                  <button type="submit" (click)="delete(safetyInstruction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (safetyInstructions().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
