<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (task(); as taskRef) {
      <div>
        <h2 data-cy="taskDetailsHeading"><span jhiTranslate="theForgeApp.task.detail.title">Task</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ taskRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.task.taskName">Task Name</span></dt>
          <dd>
            <span>{{ taskRef.taskName }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.task.creationDate">Creation Date</span></dt>
          <dd>
            <span>{{ taskRef.creationDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.task.plannedCompletionDate">Planned Completion Date</span></dt>
          <dd>
            <span>{{ taskRef.plannedCompletionDate | formatMediumDate }}</span>
          </dd>
          @if (taskRef.actualCompletionDate) {
            <dt><span jhiTranslate="theForgeApp.task.actualCompletionDate">Actual Completion Date</span></dt>
            <dd>
              <span>{{ taskRef.actualCompletionDate | formatMediumDate }}</span>
            </dd>
          }
          <dt><span jhiTranslate="theForgeApp.task.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'global.TaskStatus.' + (taskRef.status ?? 'null')"></span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.task.priority">Priority</span></dt>
          <dd>
            <span [jhiTranslate]="'global.TaskPriority.' + (taskRef.priority ?? 'null')"></span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.task.body">Body</span></dt>
          <dd>
            <span>{{ taskRef.body }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.task.employee">Employee</span></dt>
          <dd>
            @if (employeeFullName) {
              <div>
                <a [routerLink]="['/employee', task()!.employee?.id, 'view']">{{ employeeFullName }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
        </button>

        <button type="button" [routerLink]="['/task', taskRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Изменить</span>
        </button>

        <button type="button" class="btn btn-success ms-2" (click)="completeTask()" [disabled]="taskRef.status === 'DONE'">
          <fa-icon icon="check"></fa-icon>&nbsp;Выполнено
        </button>
      </div>
    }
  </div>
</div>
