<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-job-description-heading"
        data-cy="JobDescriptionCreateUpdateHeading"
        jhiTranslate="theForgeApp.jobDescription.home.createOrEditLabel"
      >
        Создать или отредактировать Job Description
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="theForgeApp.jobDescription.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let descriptionNameRef = editForm.get('descriptionName')!;
        <div class="mb-3">
          <label class="form-label" for="field_descriptionName" jhiTranslate="theForgeApp.jobDescription.descriptionName"
            >Description Name</label
          >
          <input
            type="text"
            class="form-control"
            name="descriptionName"
            id="field_descriptionName"
            data-cy="descriptionName"
            formControlName="descriptionName"
          />
          @if (descriptionNameRef.invalid && (descriptionNameRef.dirty || descriptionNameRef.touched)) {
            <div>
              @if (editForm.get('descriptionName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
            </div>
          }
        </div>

        @let approvalDateRef = editForm.get('approvalDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_approvalDate" jhiTranslate="theForgeApp.jobDescription.approvalDate">Approval Date</label>
          <div class="input-group">
            <input
              id="field_approvalDate"
              data-cy="approvalDate"
              type="text"
              class="form-control"
              name="approvalDate"
              ngbDatepicker
              #approvalDateDp="ngbDatepicker"
              formControlName="approvalDate"
            />
            <button type="button" class="btn btn-secondary" (click)="approvalDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (approvalDateRef.invalid && (approvalDateRef.dirty || approvalDateRef.touched)) {
            <div>
              @if (editForm.get('approvalDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
