<div>
  <h2 id="page-heading" data-cy="TaskHeading">
    <span jhiTranslate="theForgeApp.task.home.title">Tasks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="theForgeApp.task.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task"
        [routerLink]="['/task/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="theForgeApp.task.home.createLabel">Создать новый Task</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (tasks().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="theForgeApp.task.home.notFound">Tasks не найдено</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="taskName">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.task.taskName">Task Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.task.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plannedCompletionDate">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.task.plannedCompletionDate">Planned Completion Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.task.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priority">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.task.priority">Priority</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="body">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.task.body">Body</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employee.id">
              <div class="d-flex">
                <span jhiTranslate="theForgeApp.task.employee">Employee</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (task of tasks(); track trackId(task)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/task', task.id, 'view']">{{ task.id }}</a>
              </td>
              <td>{{ task.taskName }}</td>
              <td>{{ task.creationDate | formatMediumDate }}</td>
              <td>{{ task.plannedCompletionDate | formatMediumDate }}</td>
              <td [jhiTranslate]="'global.TaskStatus.' + (task.status ?? 'null')"></td>
              <td [jhiTranslate]="'global.TaskPriority.' + (task.priority ?? 'null')"></td>
              <td>{{ task.body }}</td>
              <td>
                @if (task.employee) {
                  <div>
                    <a [routerLink]="['/employee', task.employee.id, 'view']">{{ getEmployeeFullName(task.employee.id) }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/task', task.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
                  </a>

                  <a [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
                  </a>

                  <button type="submit" (click)="delete(task)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (tasks().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
