<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profession(); as professionRef) {
      <div>
        <h2 data-cy="professionDetailsHeading"><span jhiTranslate="theForgeApp.profession.detail.title">Profession</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ professionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.profession.professionName">Profession Name</span></dt>
          <dd>
            <span>{{ professionRef.professionName }}</span>
          </dd>
        </dl>

        <!-- Секция с работниками -->
        <div class="mt-4">
          <h3><span jhiTranslate="theForgeApp.profession.employee">Employees</span></h3>

          @if (professionRef.employees && professionRef.employees.length > 0) {
            <div class="table-responsive">
              <table class="table table-striped" aria-describedby="employees-heading">
                <thead>
                  <tr>
                    <th scope="col">
                      <span jhiTranslate="global.field.id">ID</span>
                    </th>
                    <th scope="col">
                      <span jhiTranslate="theForgeApp.employee.firstName">First Name</span>
                    </th>
                    <th scope="col">
                      <span jhiTranslate="theForgeApp.employee.lastName">Last Name</span>
                    </th>
                    <th scope="col">
                      <span jhiTranslate="theForgeApp.employee.birthDate">Birth Date</span>
                    </th>
                    <th scope="col">
                      <span jhiTranslate="theForgeApp.employee.employeeNumber">Employee Number</span>
                    </th>
                    <th scope="col">
                      <span jhiTranslate="theForgeApp.employee.hireDate">Hire Date</span>
                    </th>
                    <th scope="col">
                      <span jhiTranslate="theForgeApp.employee.position">Position</span>
                    </th>
                    <th scope="col">
                      <span jhiTranslate="theForgeApp.employee.team">Team</span>
                    </th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  @for (employee of professionRef.employees; track employee.id) {
                    <tr data-cy="employeeTable">
                      <td>
                        <a [routerLink]="['/employee', employee.id, 'view']">{{ employee.id }}</a>
                      </td>
                      <td>{{ employee.firstName }}</td>
                      <td>{{ employee.lastName }}</td>
                      <td>{{ employee.birthDate | formatMediumDate }}</td>
                      <td>{{ employee.employeeNumber }}</td>
                      <td>{{ employee.hireDate | formatMediumDate }}</td>
                      <td>
                        @if (employee.position) {
                          <a [routerLink]="['/position', employee.position.id, 'view']">{{ employee.position.positionName }}</a>
                        }
                      </td>
                      <td>
                        @if (employee.team) {
                          <a [routerLink]="['/team', employee.team.id, 'view']">{{ employee.team.teamName }}</a>
                        }
                      </td>
                      <td class="text-end">
                        <div class="btn-group">
                          <a [routerLink]="['/employee', employee.id, 'view']" class="btn btn-info btn-sm" data-cy="employeeDetailsButton">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                          </a>
                          <a [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary btn-sm" data-cy="employeeEditButton">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          } @else {
            <div class="alert alert-info">
              <span jhiTranslate="theForgeApp.profession.noEmployees">No employees assigned to this profession</span>
            </div>
          }
        </div>

        <div class="mt-4">
          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
          </button>

          <button type="button" [routerLink]="['/profession', professionRef.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
          </button>
        </div>
      </div>
    }
  </div>
</div>
