<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-safety-instruction-heading"
        data-cy="SafetyInstructionCreateUpdateHeading"
        jhiTranslate="theForgeApp.safetyInstruction.home.createOrEditLabel"
      >
        Создать или отредактировать Safety Instruction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="theForgeApp.safetyInstruction.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let instructionNameRef = editForm.get('instructionName')!;
        <div class="mb-3">
          <label class="form-label" for="field_instructionName" jhiTranslate="theForgeApp.safetyInstruction.instructionName"
            >Instruction Name</label
          >
          <input
            type="text"
            class="form-control"
            name="instructionName"
            id="field_instructionName"
            data-cy="instructionName"
            formControlName="instructionName"
          />
          @if (instructionNameRef.invalid && (instructionNameRef.dirty || instructionNameRef.touched)) {
            <div>
              @if (editForm.get('instructionName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
            </div>
          }
        </div>

        @let introductionDateRef = editForm.get('introductionDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_introductionDate" jhiTranslate="theForgeApp.safetyInstruction.introductionDate"
            >Introduction Date</label
          >
          <div class="input-group">
            <input
              id="field_introductionDate"
              data-cy="introductionDate"
              type="text"
              class="form-control"
              name="introductionDate"
              ngbDatepicker
              #introductionDateDp="ngbDatepicker"
              formControlName="introductionDate"
            />
            <button type="button" class="btn btn-secondary" (click)="introductionDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (introductionDateRef.invalid && (introductionDateRef.dirty || introductionDateRef.touched)) {
            <div>
              @if (editForm.get('introductionDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_profession" jhiTranslate="theForgeApp.safetyInstruction.profession">Profession</label>
          <select
            class="form-control"
            id="field_profession"
            data-cy="profession"
            name="profession"
            formControlName="profession"
            [compareWith]="compareProfession"
          >
            <option [ngValue]="null"></option>
            @for (professionOption of professionsSharedCollection; track $index) {
              <option [ngValue]="professionOption">{{ professionOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_position" jhiTranslate="theForgeApp.safetyInstruction.position">Position</label>
          <select
            class="form-control"
            id="field_position"
            data-cy="position"
            name="position"
            formControlName="position"
            [compareWith]="comparePosition"
          >
            <option [ngValue]="null"></option>
            @for (positionOption of positionsSharedCollection; track $index) {
              <option [ngValue]="positionOption">{{ positionOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
