<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (safetyInstruction(); as safetyInstructionRef) {
      <div>
        <h2 data-cy="safetyInstructionDetailsHeading">
          <span jhiTranslate="theForgeApp.safetyInstruction.detail.title">Safety Instruction</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ safetyInstructionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.safetyInstruction.instructionName">Instruction Name</span></dt>
          <dd>
            <span>{{ safetyInstructionRef.instructionName }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.safetyInstruction.introductionDate">Introduction Date</span></dt>
          <dd>
            <span>{{ safetyInstructionRef.introductionDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="theForgeApp.safetyInstruction.profession">Profession</span></dt>
          <dd>
            @if (safetyInstruction()!.profession) {
              <div>
                <a [routerLink]="['/profession', safetyInstruction()!.profession?.id, 'view']">{{
                  safetyInstructionRef.profession?.professionName
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="theForgeApp.safetyInstruction.position">Position</span></dt>
          <dd>
            @if (safetyInstruction()!.position) {
              <div>
                <a [routerLink]="['/position', safetyInstruction()!.position?.id, 'view']">{{
                  safetyInstructionRef.position?.positionName
                }}</a>
              </div>
            }
          </dd>
          <dt>PDF-файл инструкции</dt>
          <dd>
            @if (safetyInstruction()!.pdfFileName) {
              <div>
                <span class="text-info">{{ safetyInstructionRef.pdfFileName }}</span>
                <div class="mt-2">
                  <button type="button" class="btn btn-sm btn-primary me-2" (click)="downloadPdf()">
                    <fa-icon icon="download"></fa-icon> Скачать PDF
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="viewPdf()">
                    <fa-icon icon="eye"></fa-icon> Просмотреть
                  </button>
                </div>
              </div>
            } @else {
              <span class="text-muted">PDF-файл не загружен</span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
        </button>

        <button type="button" [routerLink]="['/safety-instruction', safetyInstructionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Изменить</span>
        </button>
      </div>
    }
  </div>
</div>
